---
controller_manager:
  ros__parameters:
    update_rate: 1000
    gravity_compensation_example_controller:
      type: franka_example_controllers/GravityCompensationExampleController
    joint_impedance_example_controller:
      type: franka_example_controllers/JointImpedanceExampleController
    cartesian_impedance_example_controller:
      type: franka_example_controllers/CartesianImpedanceExampleController
    joint_position_example_controller:
      type: franka_example_controllers/JointPositionExampleController
    joint_velocity_example_controller:
      type: franka_example_controllers/JointVelocityExampleController
    cartesian_velocity_example_controller:
      type: franka_example_controllers/CartesianVelocityExampleController
    move_to_start_example_controller:
      type: franka_example_controllers/MoveToStartExampleController
    joint_tau_controller:
      type: franka_example_controllers/JointTauController
    joint_trajectory_controller:
      type: joint_effort_trajectory_controller/JointTrajectoryController
    joint_state_broadcaster:
      type: joint_state_broadcaster/JointStateBroadcaster
    franka_robot_state_broadcaster:
      type: franka_robot_state_broadcaster/FrankaRobotStateBroadcaster
    model_example_controller:
      type: franka_example_controllers/ModelExampleController

franka_robot_state_broadcaster:
  ros__parameters:
    arm_id: panda

model_example_controller:
  ros__parameters:
    arm_id: panda

joint_trajectory_controller:
  ros__parameters:
    joints:
      - panda_joint1
      - panda_joint2
      - panda_joint3
      - panda_joint4
      - panda_joint5
      - panda_joint6
      - panda_joint7
    command_interfaces:
      - effort
    state_interfaces:
      - position
      - velocity
    gains:
      panda_joint1: {p: 600.0, d: 30.0, i: 0.0, i_clamp: 1.0}
      panda_joint2: {p: 600.0, d: 30.0, i: 0.0, i_clamp: 1.0}
      panda_joint3: {p: 600.0, d: 30.0, i: 0.0, i_clamp: 1.0}
      panda_joint4: {p: 600.0, d: 30.0, i: 0.0, i_clamp: 1.0}
      panda_joint5: {p: 250.0, d: 10.0, i: 0.0, i_clamp: 1.0}
      panda_joint6: {p: 150.0, d: 10.0, i: 0.0, i_clamp: 1.0}
      panda_joint7: {p: 50.0, d: 5.0, i: 0.0, i_clamp: 1.0}

cartesian_impedance_example_controller:
  ros__parameters:
    arm_id: panda

joint_impedance_example_controller:
  ros__parameters:
    arm_id: panda
    k_gains:
      - 24.0
      - 24.0
      - 24.0
      - 24.0
      - 10.0
      - 6.0
      - 2.0
    d_gains:
      - 2.0
      - 2.0
      - 2.0
      - 1.0
      - 1.0
      - 1.0
      - 0.5

move_to_start_example_controller:
  ros__parameters:
    arm_id: panda
    k_gains:
      - 600.0
      - 600.0
      - 600.0
      - 600.0
      - 250.0
      - 150.0
      - 50.0
    d_gains:
      - 30.0
      - 30.0
      - 30.0
      - 30.0
      - 10.0
      - 10.0
      - 5.0

joint_position_example_controller:
  ros__parameters:
    arm_id: panda

joint_velocity_example_controller:
  ros__parameters:
    arm_id: panda

cartesian_velocity_example_controller:
  ros__parameters:
    arm_id: panda

joint_tau_controller:
  ros__parameters:
    arm_id: panda
    joints:
      - panda_joint1
      - panda_joint2
      - panda_joint3
      - panda_joint4
      - panda_joint5
      - panda_joint6
      - panda_joint7
    tau_max:
      - 87.0
      - 87.0
      - 87.0
      - 87.0
      - 12.0
      - 12.0
      - 12.0
    tau_min:
      - -87.0
      - -87.0
      - -87.0
      - -87.0
      - -12.0
      - -12.0
      - -12.0
    torque_rate_limit: 1000.0
    command_timeout: 0.5
    command_interfaces:
      - effort
    state_interfaces:
      - position
      - velocity

joint_state_broadcaster:
  ros__parameters:
    joints:
      - panda_joint1
      - panda_joint2
      - panda_joint3
      - panda_joint4
      - panda_joint5
      - panda_joint6
      - panda_joint7